@{
    ViewData["Title"] = "Food finder - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>Food Finder</b>.</h1>
    <p>The best website to solve your hunger needs</p>

    <input id="input" placeholder="Keyword" />
    <input id="slider" type="range" min="500" max="2500" value="1000">
    <button id="searchBtn">Search</button>

    <div id="resturants"></div>
</div>
