#root,
.App {
  flex: 1;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.resturants {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  overflow-y: scroll;
  
  width: fit-content;
  height: 100%;
}

h1, p, h3, h2 {
  margin: 0px;
}

.MuiButtonBase-root {
  outline: none!important;
}

.info-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  column-gap: 2rem;

  overflow-y: hidden;

  flex: 1;

  min-height: 25vw;
  height: fit-content;
  max-height: 50vw;

  margin: 25px 0;
}
