#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App,
.resturants {
  display: flex;
  flex-direction: column;
}

.resturants {
  row-gap: 2rem;

  margin-top: 25px;
}

h1, p, h3, h2 {
  margin: 0px;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

.MuiButtonBase-root {
  outline: none!important;
}

.upper-text {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
}

.upper-text h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.resturant {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  row-gap: 7.5px;

  padding-left: 0.75rem;

  border-left: 2px solid;
}

.resturant.no-data {
border-left-color: #e7ad42;
}

.resturant.open {
  border-left-color: #38bd38;
}

.resturant.closed {
  border-left-color: #dd5c5c;
}

.upper-text h3 {
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.chips {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  column-gap: 7.5px;
}

.goback-button {
  margin: 1rem 0!important;
}
